#title {font-size: 15px;
	font-family:"tahoma";
	color:black;
  position: fixed;
  right:50px;
  padding: 0 40 0 0 ;
  }

#button_home{
  position: fixed;
  right:50px;
  top:50px;
  padding: 0 40 0 0;
}

#self_photo {
  width:640px;
	margin:0 auto;
	}

#menu{
	font-family:"tahoma";
	font-size: 12px;
  font-weight:normal; 
  position: fixed;
  left:50px;
  padding:0px;
  color:#999;
  line-height:200%;
}

.ul{
  list-style:none;
}

.hyperlink{
  text-decoration:none;
  color:#999;
}

#profile_content{
	font-family:"tahoma";
	font-size: 12px;
  color: #999;
	text-align: center;
}	

#menu2{
	font-family:"tahoma";
	font-size: 12px;
  font-weight:normal; 
  position:fixed;
  left:140px;
  color:#999;
  line-height:200%;
}



.hyperlink_works{
  text-decoration:none;
  color:#ccc;
}


